{% for attrName, attrValue in widget.option('attr', []) %}{{ attrName }}{% if attrValue is not same as(true) %}="{{ attrValue|e }}"{% endif %} {% endfor %} {% if not style.hasLabel %}placeholder="{% filter e %}{% include 'Form/labelText.html.twig' %}{% endfilter %}"{% endif %}