{% if widget.errors|length %}
    <ul class="invalid-feedback list-unstyled">
        {% for error in widget.errors %}
            <li>{{ l(error.message, error.replacements) }}</li>
        {% endfor %}
    </ul>
{% endif %}
