<div class="{{ style.wrapperClass }} {% if widget.errors|length %}is-invalid{% endif %} {% if widget.required %}required{% endif %}">
    {{ style.wrapperBefore|raw }}
    {% include 'Form/label.html.twig' %}
    {{ style.widgetBefore|raw }}
    {% block widget %}{% endblock %}
    {% include 'Form/errors.html.twig' %}
    {% include 'Form/helper.html.twig' %}
    {{ style.widgetAfter|raw }}
    {{ style.wrapperAfter|raw }}
</div>
