{% for section, widgets in form.all %}
    {% if section %}<fieldset><legend>{{ section }}</legend>{% endif %}
    {% for name, widget in widgets %}
        {{ widget(widget, name) }}
    {% endfor %}
    {% if section %}</fieldset>{% endif %}
{% endfor %}
