{% set form = widget %}

{% if parentform is defined %}
    {% include 'Form/Avris/Forms/Form_child.html.twig' %}
{% else %}
    {% set parentform = form %}
    {% include 'Form/Avris/Forms/Form_main.html.twig' with { objectName: form.objectName } %}
{% endif %}
{{ widgetAssets(_self) }}
