{% extends 'Form/wrapper.html.twig' %}

{% block widget %}
    <input id="{{ widgetId() }}" name="{{ widgetName() }}" type="{% block type %}{% endblock %}" {% block value %}value="{{ widget.data|e }}"{% endblock %} class="{{ style.widgetClass }} {{ widget.option('class') }} {% if widget.errors|length %}is-invalid{% endif %}" {% include 'Form/asserts.html.twig' %} {% include 'Form/attributes.html.twig' %}/>
{% endblock %}
