{% extends 'Form/wrapper.html.twig' %}

{% block widget %}
    <div class="checkbox">
        <label>
            <input type="checkbox" id="{{ widgetId() }}" name="{{ widgetName() }}" value="true" {% include 'Form/asserts.html.twig' %} {% include 'Form/attributes.html.twig' %} {% if widget.data %}checked{% endif %}>
            <span>{{ widget.option('sublabel') }}</span>
        </label>
    </div>
{% endblock %}
