<div class="radio">
    <label>
        <input type="radio" name="{{ widgetName() }}" value="{{ key|e }}" {% include 'Form/attributes.html.twig' %} {% if widget.selected(key) %}checked{% endif %}/>
        <span>
            {% if widget.option('raw')  %}
                {{ value.label|raw }}
            {% else %}
                {{ value.label }}
            {% endif %}
        </span>
    </label>
</div>
