<select id="{{ widgetId() }}" name="{{ widgetName() }}{% if multiple %}[]{% endif %}" class="{{ style.widgetClass }} {{ widget.option('class') }} {% if widget.errors|length %}is-invalid{% endif %}" {% if multiple %}multiple{% endif %} {% include 'Form/asserts.html.twig' %} {% include 'Form/attributes.html.twig' %}>
    {% for key, value in widget.choices %}
        <option value="{{ key|e }}" {% if widget.selected(key) %}selected{% endif %}>{{ value.label|e }}</option>
    {% endfor %}
</select>
