{% extends 'Form/wrapper.html.twig' %}

{% block widget %}
    {% set multiple = widget.option('multiple') %}
    {% include 'Form/Avris/Forms/Widget/Choice_' ~ (widget.option('expanded') ? 'expanded' : 'simple') ~ '.html.twig' %}
{% endblock %}
