{% extends 'Form/Avris/Forms/Widget/AbstractInput.html.twig' %}

{% block type %}{% if widget.option('text') %}text{% else %}datetime-local{% endif %}{% endblock %}

{% block extras %}placeholder="yyyy-mm-dd --:--"{% endblock %}