<input id="{{ widgetId() }}" name="{{ widgetName() }}" type="hidden" value="{{ widget.data|e }}" {% include 'Form/asserts.html.twig' %} {% include 'Form/attributes.html.twig' %}/>
{% include 'Form/errors.html.twig' %}
