<td class="form-multiple-action">
    {% if widget.canRemove(subwidget) %}
        <button type="button" class="form-multiple-remove {{ style.param('btnRemoveClass') }}">
            {{ style.param('btnRemoveText', '-')|raw }}
        </button>
    {% endif %}
</td>
