<style>
    .form-multiple.is-invalid {
        border: 1px solid #DF382C;
    }
    .form-multiple td .form-multiple-stretch,
    .form-multiple th .form-multiple-stretch {
        height: 1px;
        padding: 0;
        margin: 0;
        border: none;
        background: transparent;
    }
    .form-multiple td.form-multiple-action,
    .form-multiple th.form-multiple-action {
        max-width: 1px;
    }
</style>

<script>
    var findParent = function(el, selector) {
        do {
            if (el.matches(selector)) {
                return el;
            }
            el = el.parentNode;
        } while (el && el.matches);
    };

    var on = function (selector, event, handler) {
        document.addEventListener('click', function (e) {
            var match = findParent(e.target, selector);
            if (match) {
                var result = handler.apply(match, [e]);
                if (result === false) {
                    e.preventDefault();
                    e.stopPropagation();
                }
            }
        });
    };

    on('.form-multiple-add', 'click', function () {
        var form = findParent(this, '.form-multiple');
        if (!form) {
            return;
        }

        var newIndices = Array.from(form.querySelectorAll('[data-index^=new]')).map(function (el) {
            return el.dataset['index'].substr(3);
        });
        var newIndex = newIndices.length ? Math.max.apply(null, newIndices) + 1 : 0;

        var template = form.querySelector('.form-multiple-add-template').innerHTML.replace(/%i%/g, 'new' + newIndex);

        findParent(this, 'tr').insertAdjacentHTML('beforebegin', template);

        var firstInput = form.querySelector('[data-index=new'+newIndex+'] :enabled');
        if (firstInput) {
            firstInput.focus();
        }
    });

    on('.form-multiple-remove', 'click', function () {
        if (!confirm({{ 'form:multiple.remove.confirm'|l|json_encode|raw }})) {
            return false;
        }
        var row = findParent(this, 'tr');
        row.parentNode.removeChild(row);
    });
</script>
