{% extends 'Form/wrapper.html.twig' %}

{% block widget %}
<table class="table form-multiple {% if widget.errors|length %}is-invalid{% endif %}">
    {% set lineStyle = widget.option('lineStyle', 'Avris\\Forms\\Style\\BootstrapInlineNoLabel') %}

    {% if attribute(widget.prototype, 'all') is defined %}
        <tr>
            {% for section in widget.prototype.all %}
                {% for name, subwidget in section %}
                    <th>
                        {% include 'Form/labelText.html.twig' with { widget: subwidget, objectName: widget.prototype.objectName } %}
                    </th>
                {% endfor %}
            {% endfor %}
            <th class="form-multiple-action"></th>
        </tr>
    {% endif %}

    {% for i, subwidget in widget.subwidgets %}
        <tr data-index="{{ i }}">
            {% include 'Form/Avris/Forms/Widget/Multiple_row.html.twig' with { i: i, style: lineStyle } %}
            {% include 'Form/Avris/Forms/Widget/Multiple_remove.html.twig' %}
        </tr>
    {% endfor %}

    {% if widget.option('add') %}
        <tr>
            <td colspan="{{ widget.columnCount }}" class="form-multiple-empty">
                <input class="form-multiple-stretch"/>
            </td>
            <td class="form-multiple-action">
                <button type="button" class="form-multiple-add {{ style.param('btnAddClass') }}">
                    {{ style.param('btnAddText', '+')|raw }}
                </button>
                <script type="text/template" class="form-multiple-add-template">
                    <tr data-index="%i%">
                        {% set subwidget = widget.prototype %}
                        {% include 'Form/Avris/Forms/Widget/Multiple_row.html.twig' with { i: '%i%', style: lineStyle } %}
                        {% include 'Form/Avris/Forms/Widget/Multiple_remove.html.twig' %}
                    </tr>
                </script>
            </td>
        </tr>
    {% endif %}
</table>
{{ widgetAssets(_self) }}
{% endblock %}
