{% if attribute(widget.prototype, 'all') is defined %}
    {% for section in subwidget.all %}
        {% for name, widget in section %}
            <td>
                {{ widget(widget, name ? [i, name] : [i]) }}
            </td>
        {% endfor %}
    {% endfor %}
{% else %}
    <td>
        {{ widget(subwidget, [i]) }}
    </td>
{% endif %}
