{% extends 'Form/wrapper.html.twig' %}

{% block widget %}
    <textarea id="{{ widgetId() }}" name="{{ widgetName() }}" class="{{ style.widgetClass }} {{ widget.option('class') }} {% if widget.errors|length %}is-invalid{% endif %}" {% include 'Form/asserts.html.twig' %} {% include 'Form/attributes.html.twig' %}>{{ widget.data|e }}</textarea>
{% endblock %}
