{% extends 'Form/Avris/Forms/Widget/Text.html.twig' %}

{% block widget %}
    <div class="input-group">
        {% if widget.option('before') %}
            <div class="input-group-prepend">
                <span class="input-group-text">
                    {{ widget.option('before') }}
                </span>
            </div>
        {% endif %}
        {{ parent() }}
        {% if widget.option('after') %}
            <div class="input-group-append">
                <span class="input-group-text">
                    {{ widget.option('after') }}
                </span>
            </div>
        {% endif %}
    </div>
{% endblock %}
