<link rel="stylesheet"
                   href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
                   integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
                   crossorigin="anonymous" />
             <div class="container"><form method="post" class="form" enctype="multipart/form-data">
    
                        <input id="Test__csrf" name="Test[_csrf]" type="hidden" value="CSRF"   />

            <fieldset><legend>Standard</legend>            <div class="form-group  ">
    <div class="row">
        <label for="Test_text" class="form-label col-lg-2">
        Text    </label>
    <div class="col-lg-10">
        <input id="Test_text" name="Test[text]" type="text" value="" class="form-control  "   />
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_text2" class="form-label col-lg-2">
        Text2    </label>
    <div class="col-lg-10">
        <input id="Test_text2" name="Test[text2]" type="text" value="" class="form-control  "   />
            </div>
    </div>
</div>

            <div class="form-group  required">
    <div class="row">
        <label for="Test_requiredText" class="form-label col-lg-2">
        RequiredText    </label>
    <div class="col-lg-10">
        <input id="Test_requiredText" name="Test[requiredText]" type="text" value="" class="form-control  "  required   />
            </div>
    </div>
</div>

            <div class="form-group  required">
    <div class="row">
        <label for="Test_email" class="form-label col-lg-2">
        Email    </label>
    <div class="col-lg-10">
        <input id="Test_email" name="Test[email]" type="email" value="" class="form-control  "  required   />
            </div>
    </div>
</div>

            <div class="form-group  required">
    <div class="row">
        <label for="Test_agree" class="form-label col-lg-2">
        Agree    </label>
    <div class="col-lg-10">
        <div class="checkbox">
        <label>
            <input type="checkbox" id="Test_agree" name="Test[agree]" value="true"  required    >
            <span></span>
        </label>
    </div>
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_date" class="form-label col-lg-2">
        Date    </label>
    <div class="col-lg-10">
        <input id="Test_date" name="Test[date]" type="date" value="" class="form-control datetimepicker date-big "  pattern="^\d{4}-\d{2}-\d{2}$"   />
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_datetime" class="form-label col-lg-2">
        Datetime    </label>
    <div class="col-lg-10">
        <input id="Test_datetime" name="Test[datetime]" type="datetime-local" value="" class="form-control  "  pattern="^\d{4}-\d{2}-\d{2} \d{2}:\d{2}$"   />
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_time" class="form-label col-lg-2">
        Time    </label>
    <div class="col-lg-10">
        <input id="Test_time" name="Test[time]" type="time" value="" class="form-control  "  pattern="^\d{2}:\d{2}$"   />
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_file" class="form-label col-lg-2">
        File    </label>
    <div class="col-lg-10">
        <input id="Test_file" name="Test[file]" type="file"  class="form-control  "   />
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_number" class="form-label col-lg-2">
        Number    </label>
    <div class="col-lg-10">
        <input id="Test_number" name="Test[number]" type="number" value="" class="form-control  "   />
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_int" class="form-label col-lg-2">
        Int    </label>
    <div class="col-lg-10">
        <input id="Test_int" name="Test[int]" type="number" value="" class="form-control  "   />
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_textAddon" class="form-label col-lg-2">
        TextAddon    </label>
    <div class="col-lg-10">
        <div class="input-group">
                    <div class="input-group-prepend">
                <span class="input-group-text">
                    $
                </span>
            </div>
                    <input id="Test_textAddon" name="Test[textAddon]" type="text" value="" class="form-control  "   />

            </div>
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_numberAddon" class="form-label col-lg-2">
        NumberAddon    </label>
    <div class="col-lg-10">
        <div class="input-group">
                    <input id="Test_numberAddon" name="Test[numberAddon]" type="number" value="" class="form-control  "   />

                    <div class="input-group-append">
                <span class="input-group-text">
                    €
                </span>
            </div>
            </div>
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_url" class="form-label col-lg-2">
        Url    </label>
    <div class="col-lg-10">
        <input id="Test_url" name="Test[url]" type="url" value="" class="form-control  "   />
            </div>
    </div>
</div>

        </fieldset>    <fieldset><legend>Choice</legend>            <div class="form-group  ">
    <div class="row">
        <label for="Test_choiceEmpty" class="form-label col-lg-2">
        ChoiceEmpty    </label>
    <div class="col-lg-10">
            <select id="Test_choiceEmpty" name="Test[choiceEmpty]" class="form-control  "    >
    </select>
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_choiceSN" class="form-label col-lg-2">
        ChoiceSN    </label>
    <div class="col-lg-10">
            <select id="Test_choiceSN" name="Test[choiceSN]" class="form-control  "    >
            <option value="" ></option>
            <option value="1" >jeden</option>
            <option value="2" >dwa</option>
            <option value="3" >trzy</option>
    </select>
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_choiceMN" class="form-label col-lg-2">
        ChoiceMN    </label>
    <div class="col-lg-10">
            <select id="Test_choiceMN" name="Test[choiceMN][]" class="form-control  " multiple   >
            <option value="1" >jeden</option>
            <option value="2" >dwa</option>
            <option value="3" >trzy</option>
    </select>
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_choiceSE" class="form-label col-lg-2">
        ChoiceSE    </label>
    <div class="col-lg-10">
                <div class="radio">
    <label>
        <input type="radio" name="Test[choiceSE]" value="1"   />
        <span>
                            jeden
                    </span>
    </label>
</div>
    <div class="radio">
    <label>
        <input type="radio" name="Test[choiceSE]" value="2"   />
        <span>
                            dwa
                    </span>
    </label>
</div>
    <div class="radio">
    <label>
        <input type="radio" name="Test[choiceSE]" value="3"   />
        <span>
                            trzy
                    </span>
    </label>
</div>
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_choiceME" class="form-label col-lg-2">
        ChoiceME    </label>
    <div class="col-lg-10">
                <div class="checkbox">
    <label>
        <input type="checkbox" name="Test[choiceME][]" value="1"   />
        <span>
                            jeden
                    </span>
    </label>
</div>
    <div class="checkbox">
    <label>
        <input type="checkbox" name="Test[choiceME][]" value="2"   />
        <span>
                            dwa
                    </span>
    </label>
</div>
    <div class="checkbox">
    <label>
        <input type="checkbox" name="Test[choiceME][]" value="3"   />
        <span>
                            trzy
                    </span>
    </label>
</div>
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_choiceModel" class="form-label col-lg-2">
        ChoiceModel    </label>
    <div class="col-lg-10">
            <select id="Test_choiceModel" name="Test[choiceModel]" class="form-control  "    >
            <option value="7" >siedem</option>
            <option value="8" >osiem</option>
            <option value="9" >dziewięć</option>
    </select>
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_choiceModelM" class="form-label col-lg-2">
        ChoiceModelM    </label>
    <div class="col-lg-10">
            <select id="Test_choiceModelM" name="Test[choiceModelM][]" class="form-control  " multiple   >
            <option value="7" >siedem</option>
            <option value="8" >osiem</option>
            <option value="9" >dziewięć</option>
    </select>
            </div>
    </div>
</div>

        </fieldset>    <fieldset><legend>Advanced</legend>            <div class="form-group  ">
    <div class="row">
        <label for="Test_custom" class="form-label col-lg-2">
            </label>
    <div class="col-lg-10">
        ---======---
            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_notes" class="form-label col-lg-2">
        Notes    </label>
    <div class="col-lg-10">
    <table class="table form-multiple ">
    
    
    
            <tr>
            <td colspan="1" class="form-multiple-empty">
                <input class="form-multiple-stretch"/>
            </td>
            <td class="form-multiple-action">
                <button type="button" class="form-multiple-add btn btn-success">
                    <span class="fa fa-plus-circle"></span>
                </button>
                <script type="text/template" class="form-multiple-add-template">
                    <tr data-index="%i%">
                                                    <td>
        <div class="form-group  required">
    <div>
        
        <input id="Test_notes_%i%" name="Test[notes][%i%]" type="text" value="" class="form-control  "  required   placeholder="Notes"/>
            
    </div>
</div>

    </td>
                        <td class="form-multiple-action">
            <button type="button" class="form-multiple-remove btn btn-danger">
            <span class="fa fa-trash"></span>
        </button>
    </td>
                    </tr>
                </script>
            </td>
        </tr>
    </table>
<style>
    .form-multiple.is-invalid {
        border: 1px solid #DF382C;
    }
    .form-multiple td .form-multiple-stretch,
    .form-multiple th .form-multiple-stretch {
        height: 1px;
        padding: 0;
        margin: 0;
        border: none;
        background: transparent;
    }
    .form-multiple td.form-multiple-action,
    .form-multiple th.form-multiple-action {
        max-width: 1px;
    }
</style>

<script>
    var findParent = function(el, selector) {
        do {
            if (el.matches(selector)) {
                return el;
            }
            el = el.parentNode;
        } while (el && el.matches);
    };

    var on = function (selector, event, handler) {
        document.addEventListener('click', function (e) {
            var match = findParent(e.target, selector);
            if (match) {
                var result = handler.apply(match, [e]);
                if (result === false) {
                    e.preventDefault();
                    e.stopPropagation();
                }
            }
        });
    };

    on('.form-multiple-add', 'click', function () {
        var form = findParent(this, '.form-multiple');
        if (!form) {
            return;
        }

        var newIndices = Array.from(form.querySelectorAll('[data-index^=new]')).map(function (el) {
            return el.dataset['index'].substr(3);
        });
        var newIndex = newIndices.length ? Math.max.apply(null, newIndices) + 1 : 0;

        var template = form.querySelector('.form-multiple-add-template').innerHTML.replace(/%i%/g, 'new' + newIndex);

        findParent(this, 'tr').insertAdjacentHTML('beforebegin', template);

        var firstInput = form.querySelector('[data-index=new'+newIndex+'] :enabled');
        if (firstInput) {
            firstInput.focus();
        }
    });

    on('.form-multiple-remove', 'click', function () {
        if (!confirm("Are you sure you want do remove this element?")) {
            return false;
        }
        var row = findParent(this, 'tr');
        row.parentNode.removeChild(row);
    });
</script>

            </div>
    </div>
</div>

            <div class="form-group  ">
    <div class="row">
        <label for="Test_dependencies" class="form-label col-lg-2">
        Dependencies    </label>
    <div class="col-lg-10">
    <table class="table form-multiple ">
    
            <tr>
                                                <th>
                        Option                    </th>
                                    <th>
                        String                    </th>
                                        <th class="form-multiple-action"></th>
        </tr>
    
    
            <tr>
            <td colspan="2" class="form-multiple-empty">
                <input class="form-multiple-stretch"/>
            </td>
            <td class="form-multiple-action">
                <button type="button" class="form-multiple-add btn btn-success">
                    <span class="fa fa-plus-circle"></span>
                </button>
                <script type="text/template" class="form-multiple-add-template">
                    <tr data-index="%i%">
                                                                        <td>
                <div class="form-group  ">
    <div>
        
            <select id="Test_dependencies_%i%_option" name="Test[dependencies][%i%][option]" class="form-control  "    placeholder="Option">
            <option value="foo" selected>foo</option>
            <option value="bar" >bar</option>
            <option value="baz" >baz</option>
    </select>
            
    </div>
</div>

            </td>
                    <td>
                <div class="form-group  required">
    <div>
        
        <input id="Test_dependencies_%i%_string" name="Test[dependencies][%i%][string]" type="text" value="" class="form-control  "  required  maxLength="100"   placeholder="String"/>
            
    </div>
</div>

            </td>
                                    <td class="form-multiple-action">
            <button type="button" class="form-multiple-remove btn btn-danger">
            <span class="fa fa-trash"></span>
        </button>
    </td>
                    </tr>
                </script>
            </td>
        </tr>
    </table>

            </div>
    </div>
</div>

            
    <div class="form-group  ">
    <div class="row">
        <label for="Test_mainDependency" class="form-label col-lg-2">
        MainDependency    </label>
    <div class="col-lg-10">
                        <div class="form-group  ">
    <div class="row">
        <label for="Test_mainDependency_option" class="form-label col-lg-2">
        Option    </label>
    <div class="col-lg-10">
            <select id="Test_mainDependency_option" name="Test[mainDependency][option]" class="form-control  "    >
            <option value="foo" >foo</option>
            <option value="bar" >bar</option>
            <option value="baz" >baz</option>
    </select>
            </div>
    </div>
</div>

            <div class="form-group  required">
    <div class="row">
        <label for="Test_mainDependency_string" class="form-label col-lg-2">
        String    </label>
    <div class="col-lg-10">
        <input id="Test_mainDependency_string" name="Test[mainDependency][string]" type="text" value="" class="form-control  "  required  maxLength="100"   />
            </div>
    </div>
</div>

                    </div>
    </div>
</div>
<style>
    .invalid-feedback {
        display: block;
    }
</style>


        </fieldset>

    <div>
        <button>Save</button>
    </div>
</form>
</div>